UnityAddressableFramework/Temp
UnityAddressableFramework/Library
UnityAddressableFramework/Logs
UnityAddressableFramework/.idea
UnityAddressableFramework/Assets/Plugins/Editor/JetBrains
UnityAddressableFramework/Assets/Plugins/Editor/JetBrains.meta
